
<!doctype html>
<html>
    <head>
        <link rel="stylesheet"  href="/styles/reset.css" type="text/css" />
        <link rel="stylesheet"  href="/styles/styles.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <title>Welcome to Acme</title>
    </head>
    <body>
      <div id="header-container">
        <header>
          <a href="/">
            <h1>Acme Co. CMS</h1>
          </a>
        </header>
        <nav id="nav">
          {{nav|safe}}
        </nav>
      </div>
      <div id="body-container">
        <section id="content">
          {{content|safe}}
        </section>
        <footer>
          <p>
            Copyright 2022-2022 by Acme Co. All Rights Reserved.
          </p>
          <img id="acme-logo" src="/images/acme-logo.png" alt="The Acme Co. logo" />
        </footer>
      </div>
    </body>
</html>
