html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-container {
  height: 100%;
  min-height: 100%;
  width: auto;
  border: 3px solid #000;
  text-align: center;
  background-color: #FCFCFA;
}

h1 {
  font-size: 3.5em;
}

header {
  border-bottom: 3px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F9C000;
  height: 6rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}

header > a {
  color: inherit;
  padding: 1.75rem 1rem 1.75rem 1rem;
  text-decoration: none;
}

header > a:hover {
  cursor: pointer;
}

#body {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: calc(100vh - 10rem);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: stretch;
}

#body a {
  border-radius: 6px;
  color: inherit;
}

#body a:hover {
  background-color: #F9C000;
  cursor: pointer;
}

#nav {
  border-right: 3px solid #000;
  order: 1;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 15%;
}

.nav-item {
  display: block;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  align-self: center;
}

#content {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 70%;
}

#content > h1 {
  font-size: 4rem;
  font-style: italic;
  padding-bottom: 2.5rem;
}

#content > p {
  font-size: 20px;
  line-height: 2.5rem;
  max-width: 65%;
}

#editor {
  min-height: 450px;
  min-width: 60%;
}

input,
label {
  margin: .4rem 0;
}

footer {
  border-top: 3px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FCFCFA;
  height: 3.5rem;
}

#acme-logo {
  height: 3rem;
  width: auto;
  justify-content: flex-end;
}
